pydantic
langchain
langchain_community
openai
python-docx
streamlit
audio-recorder-streamlit>=0.0.10
pydub
streamlit-webrtc
av
numpy
sounddevice
scipy
soundfile
langchain_ollama
gradio
gradio-client
faster-whisper
